@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    font-family: 'Raleway';
    max-width: 1500px;
}

/*  HEADER & HOMEPAGE*/

.homepage {
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
}

.homepage,
.header {
    background-image: url('../img/homepage-strawberry.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 165px;
    z-index: 1;
    opacity: 0.5;
}

.logo {
    margin-right: auto;
    height: 52px;
}

.navbar {
    display: flex;
    text-transform: uppercase;
}

.navbar__item {
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #262626;
    border-top: 3px solid transparent;
    padding-top: 9px;
    text-decoration: none;
    cursor: pointer;
}

.navbar__item:hover {
    border-top: 3px solid #ff6033;
}

/* HOMEPAGE */

.intro {
    width: 400px;
    color: #262626;
    font-weight: 300;
    line-height: 27px;
    padding: 258px 165px;
}

.intro__title {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.intro__description {
    font-size: 17px;
    margin: 30px 0;
}

.page-scroll {
    position: relative;
    bottom: 68px;
    left: calc(50% - 12px);
}

/* ABOUT-US */

.about-us {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00b8b8;
    color: #ffffff;
}

.about-us__title {
    margin: 0;
    font-size: 90px;
    font-weight: 700;
}

.about-us__description {
    width: 500px;
    font-size: 17px;
    font-weight: 300;
    opacity: 0.6;
}

/* OUR-SERVICES */

.our-services {
    display: flex;
    justify-content: space-evenly;
    background-color: #70bfff;
    width: 100%;
    height: 790px;
}

.our-services__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.our-services__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/our-services-background.png');
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
}

.our-services__list_button {
    position: relative;
    margin: 10px;
    width: 300px;
    height: 100px;
    border: none;
    outline: none;
    font-size: 20px;
    background: #ffffff;
    color: #262626;
    font-weight: 700;
    border-right: 1px solid #9d9d9d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.our-services__list_button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.our-services__list_button1::after {
    background-image: url('../img/our-services-shopping.png');
}

.our-services__list_button2::after {
    background-image: url('../img/our-services-quality.png');
}

.our-services__list_button3::after {
    background-image: url('../img/our-services-delivery.png');
}

.our-services__list_button4::after {
    background-image: url('../img/our-services-quality.png');
}

.our-services__list_button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* GALLERY */

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #262626;
    height: 1536px;
    background-color: #ffe92f;
}

.gallery__title {
    margin: 0;
    font-size: 90px;
    font-weight: 700;
}

.gallery__description {
    margin: 0 auto;
    font-size: 17px;
    font-weight: 300;
    width: 577px;
}

.gallery__images {
    content: '';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    width: 1125px;
    height: 960px;
    cursor: pointer;
}

.gallery__images_first-line {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 550px;
    width: 1125px;
}

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
gap: 15px;
height: 400px;
width: 1125px;
}

.gallery__image {
    background-position: center;
    opacity: 0.9;
}

.gallery__image:hover {
    box-shadow: 0px 0px 21px #afb7ff;
    opacity: 1;
}

.gallery__image_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* SUBSCRIBE */

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 165px;
    height: 500px;
    background-image: url('../img/subscribe-blueberry.png');
    background-position: right;
    font-family: 'Raleway';
    color: #262626;
}

.subscribe__title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

.subscribe__description {
    font-size: 17px;
    line-height: 27px;
    width: 570px;
}

.subscribe__info_email {
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
    outline: none;
    color: #262626;
    opacity: 0.5;
    font-size: 15px;
    font-weight: 300;
    box-sizing: border-box;
    padding-left: 15px;
}

/* BLOG */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #b07cf7;
    font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
    color: #ffffff;
    height: 800px;
}

.blog__title {
    margin: 0 auto;
    text-align: center;
    width: 560px;
}

.blog__title .blog__title_title {
    font-size: 4rem;
    margin: 0;
}

.blog__articles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.blog__article {
    position: relative;
    width: 370px;
    height: 300px;
    background-color: #ffffff;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
}

.blog__article-1 {
    background-image: url('../img/blog-article1.png');
}

.blog__article-2 {
    background-image: url('../img/blog-article2.png');
}

.blog__article-3 {
    background-image: url('../img/blog-article3.png');
}

.blog__article_description {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: linear-gradient(transparent, transparent 60%, #000000);
    padding-left: 20px;
}

.blog__article_date {
    position: relative;
    left: 10px;
    margin-bottom: auto;
    font-size: 1.5rem;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.blog__article_description .blog__article_title {
    font-size: 20px;
    margin: 0;
}

.blog__article_description .blog__article_author {
    font-size: 13px;
    margin: 15px 0 23px;
}

.blog__article:not(.blog__article_description):hover {
    transform: scale(1.1);
    transition: all .5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #fbfbf7;
}

/* CONTACT */

.contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../img/contact-background.png');
    font-size: 17px;
    height: 866px;
}

.contact__title_title {
    margin: 0;
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
}

.contact__title_description {
    margin: 0;
    text-align: center;
    font-weight: 300;
    width: 350px;
    line-height: 25px;
}

.contact__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.contact__info_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    margin-left: 165px;
}

.contact__info_form-line {
    padding: 0;
    background-color: rgba(0, 196, 196, 0.5);
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 1);
    border-left: 5px solid transparent;
}

.contact__info_form-line::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contact__info_form-line:hover {
    background-color: rgba(0, 196, 196, 1);
    color: rgba(255, 255, 255, 1);
    border-left: 5px solid#355b82;
}

.contact__info_form-line_input {
    margin-bottom: 15px;
    height: 50px;
}

.contact__info_form-line_input[type='email'] {
    appearance: none;
}

.contact__info_form-line_textarea {
    height: 250px;
    box-sizing: border-box;
    padding-top: 20px !important;
}

.contact__info_form-line_textarea,
.contact__info_form-line_textarea::placeholder {
    font-family: zzRaleway;
}

.contact__info_contacts {
    margin-right: 350px;
    font-size: 20px;
}

.contact__info_contacts_title {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact__info_contacts_description {
    margin: 0;
    margin-bottom: 10px;
    line-height: 25px;
}

/* FOOTER */

.footer {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

.footer span {
    color: #ff2b58;
}

/* BUTTONS */

.intro__button:active {
    box-shadow: none;
}


.gallery__button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.subscribe__info_button {
    margin: 0 30px;
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}

.intro__button {
    box-sizing: border-box;
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 200;
    transition: all 300ms ease;
    cursor: pointer;
}

.blog__button {
    margin: 70px auto;
    height: 55px;
    width: 200px;
}

.blog__button_flip {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.blog__button_flip:hover:after,
.intro__button:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.blog__button_flip:hover:before,
.intro__button:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.blog__button_flip:after,
.intro__button:after {
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    width: 100%;
    color: #323237;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

.blog__button_flip:before,
.intro__button:before {
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    position: relative;
    background-color: #f72b3b;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    cursor: pointer;
}